body 
{
    background-color: black;
}

.clock
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: whitesmoke;
    font-size: 60px;
    font-family: Roboto Mono;
    letter-spacing: 7px;
}
